<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Espresso</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Ristretto</string>
			<key>Images</key>
			<string>ristretto</string>
			<key>Strength</key>
			<integer>10</integer>
			<key>Types</key>
			<array>
				<string>ristretto</string>
				<string>espresso</string>
				<string>cappuccino</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Arpeggio</string>
			<key>Images</key>
			<string>arpeggio</string>
			<key>Strength</key>
			<integer>9</integer>
			<key>Types</key>
			<array>
				<string>ristretto</string>
				<string>espresso</string>
				<string>cappuccino</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Roma</string>
			<key>Images</key>
			<string>roma</string>
			<key>Strength</key>
			<integer>8</integer>
			<key>Types</key>
			<array>
				<string>ristretto</string>
				<string>espresso</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Livanto</string>
			<key>Images</key>
			<string>livanto</string>
			<key>Strength</key>
			<integer>6</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Capriccio</string>
			<key>Images</key>
			<string>capriccio</string>
			<key>Strength</key>
			<integer>5</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Volluto</string>
			<key>Images</key>
			<string>volluto</string>
			<key>Strength</key>
			<integer>4</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cosi</string>
			<key>Images</key>
			<string>cosi</string>
			<key>Strength</key>
			<integer>3</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
			</array>
		</dict>
	</array>
	<key>Pure Origin</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Indriya</string>
			<key>Images</key>
			<string>indriya</string>
			<key>Strength</key>
			<integer>10</integer>
			<key>Types</key>
			<array>
				<string>ristretto</string>
				<string>espresso</string>
				<string>cappuccino</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rosabaya</string>
			<key>Images</key>
			<string>rosabaya</string>
			<key>Strength</key>
			<integer>6</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dulsão</string>
			<key>Images</key>
			<string>dulsao</string>
			<key>Strength</key>
			<integer>5</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
			</array>
		</dict>
	</array>
	<key>Lungo</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Fortissio</string>
			<key>Images</key>
			<string>fortissiolungo</string>
			<key>Strength</key>
			<integer>7</integer>
			<key>Types</key>
			<array>
				<string>lungo</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vivalto</string>
			<key>Images</key>
			<string>vivaltolungo</string>
			<key>Strength</key>
			<integer>4</integer>
			<key>Types</key>
			<array>
				<string>lungo</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Finezzo</string>
			<key>Images</key>
			<string>finezzolungo</string>
			<key>Strength</key>
			<integer>3</integer>
			<key>Types</key>
			<array>
				<string>lungo</string>
			</array>
		</dict>
	</array>
	<key>Decaffeinato</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Decaffeinato Intenso</string>
			<key>Images</key>
			<string>decaffeinatointenso</string>
			<key>Strength</key>
			<integer>7</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
				<string>cappuccino</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Decaffeinato</string>
			<key>Images</key>
			<string>decaffeinato</string>
			<key>Strength</key>
			<integer>2</integer>
			<key>Types</key>
			<array>
				<string>espresso</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Decaffeinato Lungo</string>
			<key>Images</key>
			<string>decaffeinatolungo</string>
			<key>Strength</key>
			<integer>3</integer>
			<key>Types</key>
			<array>
				<string>lungo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
